*{margin: 0;padding: 0;}
.container {
  max-width: 1200x;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
#header {
  background-color: rgba(247,0,12,0.8);
  padding: 10px 10px;
  color: white;
  text-align: center;
  font-size: 90px; 
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;z-index: 99;
}
span{text-align: center;font-size: 19px;position: relative;bottom: 35px;font-family: 'Poiret One', cursive;}
h2{text-align: center;padding: 20px;font-family: 'Roboto', sans-serif;color: #3B3B3B}
.menu{width: 100vw;column-count: 2;}
.menu img{width: 100%;height: auto;display: block;margin: 0 auto;}

.menu h4{text-align: center;font-family: 'Poppins', sans-serif;color: #666666;border: 1px solid #CBCBCB;position: relative;
bottom: 2px;z-index: -1}
.line{width: 60%;height: 3px;background: red;display: block;margin: 10px auto;}
.thank{max-width: 100px;display: block;margin: 0 auto;border-radius: 70px;padding: 10px;background: red}
.thank img{width: 100%;}
